*{
    margin:0;
}
header{
    background-color:#DE3163;
    color:black;
    text-align:center;
    padding:25px;
    font-size: xx-large;
}
body{
    background-color: pink;
}
h1,h3{
    color:chocolate;
    font-family:cursive;
    margin-top:25px;
}
.heart { 
    position: relative; 
    width: 100px; 
    height: 90px; 
    margin-top:50px;
} 

.heart:before, .heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

.heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}
a{
    margin-top: 25px;
    font-family:cursive;
}
p{
    background-color:peachpuff;
    width: 200px;
    height:50px;
    border-width: 2px;
    border-style:dotted;
    border-color:red;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
    padding:10px;
}
footer{
    background-color: #DE3163;
    color:black;
    text-align:right;
    padding:25px;
    font-family: cursive;
    font-size: medium;
    margin-top: 15%;
}
    .lovelink{
         color: red;
    font-size: 18px;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    }

